{% extends 'base.html' %}

<title>{% block title %}Delivery Points{% endblock %}</title>

{% block content %}

<div class="main-content">
    <div class="profileDetails">
        {% for delivery_point in delivery_point_info %}
            <div class="card p-3">
                <h1 class="">ডেলিভারি পয়েন্ট</h1>
                <div class="row">
                    <div class="col-sx-12 col-md-12">
                        <img class="img-thumbnail" src="{{ delivery_point.delivery_point_image.url }}" alt="image" width="100%">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <table>
                            <tr>
                                <th>দোকানের নাম</th>
                                <td>{{ delivery_point.delivery_point_name }}</td>
                            </tr>
                            <tr>
                                <th>ফোন</th>
                                <td>{{ delivery_point.delivery_point_contact_no }}</td>
                            </tr>
                            <tr>
                                <th>ঠিকানা</th>
                                <td>{{ delivery_point.delivery_point_address }}</td>
                            </tr>
                            <tr>
                                <th>এলাকা</th>
                                <td>{{ delivery_point.area }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}